/* plays --------------------------------------------------------------------------------------- */

.plays {
  padding-top: 100px;
}

.plays__title {
  font: var(--headline-6);
  margin: 0 0 32px 24px;
  max-width: 250px;

}

.plays__container{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}


/* play-card -------------------------------------------------------------------------------------- */

.play-card__container {
  height: 342px;
  width: 244px;
  background-color: var(--color-accent);
  position: relative;
}

.play-card_gap {
  margin-right: 31px;
}

.play-card_gap:first-child {
  margin-left: 24px;
}
.play-card_gap:last-child{
  margin-right: 24px;
}

.play-card__button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 56px;
  padding: 15px 16px ;
  box-sizing: border-box;
  border-top: 1px solid var(--color-carbonic);
  color: var(--color-carbonic);
  text-decoration: none;
  z-index: 2;
  overflow: hidden;
  transition: all 300ms ease-in;
}

.play-card__button:hover {
  color: var(--color-snow-white);
}

.play-card__button:hover::after {
  left: 0;
}

.play-card__button::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--color-carbonic);
  position: absolute;
  z-index: -1;
  left: -100%;
  top: 0;
  transition: left 300ms ease-in;
}

.play-card__button_type_view {
  bottom: 56px;
}

.play-card__button_type_download {
  bottom: 0;
}


.play-card__title {
  font: var(--headline-7);
  padding: 16px 46px 16px 16px;
  margin: 0;
}

.play-card__stamp {
  font: var(--body-text-small);
  max-width: 150px;
  margin: 8px 0 0;
}


.play-card__author {
  font: var(--headline-7);
  margin: 24px 0 0;
}

/* arrow ---------------------------------------------------------------------------------------------- */
.play-card__button:hover .arrow {
  filter: invert(100%);
}

.arrow_direction_top-right {
  background-image: url(../../images/arrow-top-right.svg);
  width: 25px;
  height: 25px;
}

.arrow_direction_bottom {
  background-image: url(../../images/arrow-down.svg);
  width: 25px;
  height: 25px;
}



/* media ---------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 1394px ){
  .plays__container{
    justify-content: center;
  }

  .play-card__button {
    display: none;
  }

  .play-card__container:hover .play-card__button {
    display: flex;
  }

  .play-card__container {
    height: 300px;
    width: 240px;
  }

  .play-card__stamp {
    margin: 4px 0 0;
  }

  .play-card__author {
    margin: 16px 0 0;
  }
}

@media screen and (min-width: 1000px ){
  .plays__title {
    margin: 0 0 48px 362px;
    font: var(--headline-4);
    max-width: 360px;
  }
}
