.body {
  /* ЦВЕТА */
  --color-carbonic: #242424;
  --color-snow-white: #fff;
  --color-main: #ecebe8;
  --color-accent: #b7c09d;
  /* ЗАГОЛОВКИ */
  --headline-1: 400 72px/70px NeueMachina;
  --headline-2: 400 64px/60px NeueMachina;
  --headline-3: 400 56px/56px NeueMachina;
  --headline-4: 400 40px/40px NeueMachina;
  --headline-5: 400 36px/38px NeueMachina;
  --headline-6: 400 28px/32px NeueMachina;
  --headline-7: 400 20px/24px NeueMachina;
  /* ТЕКСТ */
  --body-text: 300 20px/28px Formular;
  --body-text-medium: 300 18px/23px Formular;
  --body-text-small: 300 16px/22px Formular;
  --caption-text: 300 14px/17px Formular;
  --letter-spacing: -0.01em;
  /* кнопка */
  --btn-title: 300 16px/14px Formular;

  color: var(--color-carbonic);
  background: var(--color-main);
  font-family: "FormularLight", sans-serif;
  letter-spacing: var(--letter-spacing);
  max-width: 1440px;
  margin: 0 auto;
}
