.heading-for-blocks {
  font: var(--headline-6);
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {

  .heading-for-blocks {
    font: var(--headline-5);
  }

}

@media screen and (min-width: 1440px) {

  .heading-for-blocks {
    font: var(--headline-4);
  }

}
