.performances__date-container {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

@media screen and (min-width: 350px) {
  .performances__date-container {
    margin-bottom: 4px;
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) {
  .performances__date-container {
    margin-bottom: 4px;
  }
}
