.button_type_plays-view {
  width: 244px;
  height: 56px;
  border-top: 1px solid var(--color-carbonic);
  padding-left: 16px;
  font: var(--body-text-small);
}

.button_type_plays-view::after {
  background-image: url(../../../images/arrow-top-right.svg);
  background-position-y: center;
  background-position-x: calc(244px - 16px - 25px);
}

.button_type_plays-view::before {
  left: 0;
}
