.performances__authors {
  margin: 0 0 8px 0;
  padding: 0;
  max-width: 255px;
  font: var(--body-text-small);
}

@media screen and (min-width: 600px) {
  .performances__authors {
    margin: 0 30px 20px;
    max-width: 240px;
  }
}


