.persons__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 24px 0 0 0;
}

@media screen and (min-width: 1000px){
  .persons__list{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
