.cooperation {
  position: relative;
}

.cooperation__asterisk {
  display: block;
  position: absolute;
  width: 25px;
  left: 25px;
  top: 50px;

}

.cooperation__heading {
  margin: 0;
  padding: 76px 24px 16px 55px;

  font: var(--heading-6);
  letter-spacing: -0.01em;
  text-align: left;
}

.cooperation__paragraph {
  margin: 0;
  padding: 0 24px 25px 57px;

  font: var(--heading-7);
  letter-spacing: -0.01em;
  text-align: left;
}

.cooperation__paragraph:last-child {
  padding-bottom: 100px;
}
