.youtube-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-accent);
  min-height: 392px;
  padding: 54px 29px 72px 25px;
  box-sizing: border-box;
}

@media screen and (min-width: 1023px) {
  .youtube-link {
    flex-direction: row;
  }
}



