.button_style_arrow-left {
  border-bottom: 1px black solid;
  border-left: 1px black solid;
  margin: 16px 0 0 0;
  padding: 0 0 0 28px;
  max-width: 154px;
  height: 32px;
}

.button_style_arrow-left::before{
  content: '';
  background-color: black;
  width: 0px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  transition-delay: 1s;
  transition: all cubic-bezier(0.6, 0, 0.5, 1) 0.4s;
  z-index: -1;
}

.button_style_arrow-left::after {
  background-image: url(../../../images/arrow-right.svg);
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 32px;
  content: '';
  background-repeat: no-repeat;
  background-position: left;
}
.button_style_arrow-left:hover::after {
  background-image: url(../../../images/arrow-right_white.png);
  z-index: 1000;
}
