.button_style_back {
  margin: 0px 0 0 86px;
  background-image: url(../../../images/icon/Union.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  background-position:right;
  background-size: 21px;
  padding: 9px 0 0 10px;
}

@media screen and (min-width: 1440px) {

  .button_style_back {
    margin: 0px 0 0 30px;
  }

}
