.performances__item {
  flex: 0 0 auto;
  padding: 0 0 30px 24px;
  display: grid;
  grid-template-columns: 92px auto;
  column-gap: 30px;
  row-gap: 40px;
  border-bottom: 1px solid var(--color-carbonic);
}

.performances__item:last-child {
  border-right: none;
  border-bottom: none;
  padding-bottom: 0;
}

@media screen and (min-width: 600px) {
  .performances__item {
    padding: 0;
    margin-left: 60px;
    row-gap: 16px;
    grid-template-columns: 120px auto;
  }
}
