@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
/* кнопка назад */
@import url(../blocks/button/button.css);
@import url(../blocks/button/_style/button_style_arrow-right.css);
@import url(../blocks/button/_style/button_style_arrow-left.css);
@import url(../blocks/button/__image/button__image.css);
/* блок с заголовками для страниц */
@import url(../blocks/heading-for-pages/heading-for-pages.css);
/* заголовок блоков */
@import url(../blocks/heading-for-blocks/heading-for-blocks.css);
/* блок интро */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__image/intro__image.css);
@import url(../blocks/intro/__text-about/intro__text-about.css);
/* блок about */
@import url(../blocks/about/about.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__text/about__text.css);
/* блок с видео */
@import url(../blocks/videos/videos.css);
@import url(../blocks/videos/__iframe/videos__iframe.css);
@import url(../blocks/videos/__iframe/_block/videos__iframe_block_one-video.css);
@import url(../blocks/videos/__iframe/_size/videos__iframe_size_large.css);
@import url(../blocks/videos/__iframe/_size/videos__iframe_size_small.css);
@import url(../blocks/videos/__iframes/videos__iframes.css);
@import url(../blocks/videos/__iframes/_block/videos__iframes_block_two-video.css);
@import url(../blocks/videos/__iframes/_block/videos__iframes_block_three-video.css);
@import url(../blocks/videos/__text/videos__text.css);
@import url(../blocks/videos/__title/videos__title.css);
@import url(../blocks/videos/__title/_block/videos__title_block_one-video.css);
/* галерея */
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__items/gallery__items.css);
@import url(../blocks/gallery/__image/gallery__image.css);
@import url(../blocks/gallery/__title/gallery__title.css);
/* блок performances */
@import url(../blocks/performances/performances.css);
/* блок plays */
@import url(../blocks/plays/plays.css);
/* блок persons */
@import url(../blocks/persons/persons.css);
@import url(../blocks/persons/__header/persons__header.css);
@import url(../blocks/persons/__caption/persons__caption.css);
@import url(../blocks/persons/__image/persons__image.css);
@import url(../blocks/persons/__item/persons__item.css);
@import url(../blocks/persons/__list/persons__list.css);
@import url(../blocks/persons/__name/persons__name.css);
/* блок youtube-link */
@import url(../blocks/youtube-link/youtube-link.css);
/* блок cooperation */
@import url(../blocks/cooperation/cooperation.css);
/* всполывающее окно */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__photo/popup__photo.css);
@import url(../blocks/popup/_opened/popup_opened.css);
/* кнопки навигации */
@import url(../blocks/buttons-nav/buttons-nav.css);
@import url(../blocks/buttons-nav/_type/buttons-nav_type_close.css);
@import url(../blocks/buttons-nav/_type/buttons-nav_type_nav-arrow.css);
@import url(../blocks/buttons-nav/_type/buttons-nav_type_nav-arrow-right.css);


