@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
/* кнопка назад */
@import url(../blocks/button/button.css);

/* блок интро */
@import url(../blocks/intro/intro.css);
/* блок about */
@import url(../blocks/about/about.css);
/* блок с видео */
@import url(../blocks/videos/videos.css);
/* галерея */
@import url(../blocks/gallery/gallery.css);
/* блок plays */
@import url(../blocks/plays/plays.css);
/* блок persons */
@import url(../blocks/persons/persons.css);
@import url(../blocks/persons/__header/persons__header.css);
@import url(../blocks/persons/__caption/persons__caption.css);
@import url(../blocks/persons/__image/persons__image.css);
@import url(../blocks/persons/__item/persons__item.css);
@import url(../blocks/persons/__list/persons__list.css);
@import url(../blocks/persons/__name/persons__name.css);

/* блок cooperation */
@import url(../blocks/cooperation/cooperation.css);
/* заголовок блоков */
@import url(../blocks/heading-for-blocks/heading-for-blocks.css);
