@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/content/content.css);
/* блок интро */
@import url(../blocks/intro/intro.css);
/* блок о проекте */
@import url(../blocks/about/about.css);
/* блок cooperation */
@import url(../blocks/cooperation/cooperation.css);
