.youtube-link__container {
  all: unset;
}

@media screen and (min-width: 1023px) {
  .youtube-link__container {
    margin-bottom: 58px;
    margin-left: 57px;
  }
}

@media screen and (min-width: 1400px) {
  .youtube-link__container {
    margin-bottom: 58px;
    margin-left: 335px;
  }
}
