.about {
  background-color: var(--color-accent);
  padding: 56px 24px 72px;
}

.about__title {
  margin: 0 0 17px;
  font: var(--headline-4);
}

.about__text {
  max-width: 505px;
  margin: 0;
  padding-left: 60px;
  font: var(--body-text)
}

@media screen and (min-width: 650px){
  .about {
    padding: 79px 25% 120px;
  }
}
