.intro__image {
  max-width: 100%;
  min-width: 320px;
  min-height: 414px;
  object-fit: cover;
  object-position: right;
  margin: 36px 0 0 0;
}

@media screen and (min-width: 620px) {

  .intro__image {
    min-height: 100%;
    margin: 0;

  }

}
