.performances {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
}
.performances__title {
  margin: 100px 0 34px 24px;
  max-width: 369px;
}

@media screen and (min-width: 460px) {
  .performances__title {
  margin: 100px auto 34px;
  }
}

@media screen and (min-width: 1440px) {
  .performances__title {
    margin: 122px 0 75px 362px;
    max-width: 568px;
  }
}
.performances__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  row-gap: 30px;
}
@media screen and (min-width: 700px) {
  .performances__list {
    margin: 0;
    grid-template-columns: 450px 450px 450px;
    overflow-x: auto;
    column-gap: 30px;
  }
}

.performances__item {
  margin: 0;
  padding-left: 24px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 92px auto;
  column-gap: 30px;
  row-gap: 40px;
  border-bottom: 1px solid var(--color-carbonic);
}
@media screen and (min-width: 700px) {
  .performances__item {
    border-bottom: none;
    border-right: 1px solid var(--color-carbonic);
  }
  .performances__item:last-child {
    border-right: none;
  }
}
.performances__image {
  display: block;
  max-width: 92px;
}

.performances__date-container {
  display: flex;
}
.performances__date {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 16px;
  padding: 0;
  font: var(--body-text);
  letter-spacing: var(--letter-spacing);
}
@media screen and (min-width: 350px) {
  .performances__date {
    margin-right: 46px;
  }
}
.performances__time {
  margin: 0;
  padding: 0;
  font: var(--body-text);
  letter-spacing: var(--letter-spacing);
}

.performances__card-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font: var(--headline-6);
  letter-spacing: var(--letter-spacing);
}
.performances__authors {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  max-width: 255px;
  font: var(--body-text-small);
}
.performances__quote {
  margin: 0;
  padding: 0;
  max-width: 150px;
  font: var(--caption-text);
}

.performances__links-container {
  grid-column-start: 2;
  grid-column-end: 3;
}
.performances__link {
  margin: 0;
  padding: 0;
  font: var(--btn-title);
  max-width: 154px;
  margin-right: 26px;
}
.performances__link:last-child {
  margin-right: 0;
}



