.performances {
  max-width: 414px;
  margin: 0 auto;
  padding: 0;
}
.performances__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.performances__item {
  margin: 0;
  padding: 34px 0 32px 24px;

  display: grid;
  grid-template-columns: 92px auto;
  column-gap: 30px;
  row-gap: 40px;
  border-bottom: 1px solid var(--color-carbonic);
}
.performances__image {
  display: block;
  max-width: 92px;
}

.performances__date-container {
  display: flex;
}
.performances__date {
  margin: 0;
  margin-right: auto;
  margin-bottom: 16px;
  padding: 0;
  font: var(--body-text);
  letter-spacing: var(--letter-spacing);
}
@media screen and (min-width: 350px) {
  .performances__date {
    margin-right: 46px;
  }
}
.performances__time {
  margin: 0;
  padding: 0;
  font: var(--body-text);
  letter-spacing: var(--letter-spacing);
}

.performances__card-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font: var(--headline-6);
  letter-spacing: var(--letter-spacing);
}
.performances__authors {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  max-width: 255px;
  font: var(--body-text-small);
}
.performances__quote {
  margin: 0;
  padding: 0;
  max-width: 150px;
  font: var(--caption-text);
}

.performances__links-container {
  grid-column-start: 1;
  grid-column-end: 3;
}
.performances__link {
  margin: 0;
  padding: 0;
  font: var(--btn-title);
  border-bottom: 1px solid var(--color-carbonic);
  max-width: 154px;
  margin-right: 26px;
}
.performances__link:last-child {
  margin-right: 0;
}



