.persons__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 24px 0 0 0;
  padding: 0;
  list-style-type: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media screen and (min-width: 1000px){
  .persons__list{
    margin-top: 58px;
    -webkit-filter: none;
      filter: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
