.button {
  all: unset;
  text-transform: uppercase;
  font: var(--btn-title);
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  overflow:hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}


.button:hover {
  transition: color cubic-bezier(0.6, 0, 0.5, 1) 0.4s;
  color: white;
}

.button:hover::before {
  width: 100%;
}

.button:active {
  box-shadow: 0 0 0 5px #000;
  transition: box-shadow cubic-bezier(0.6, 0, 0.5, 1) 0.4s;
}
