.button {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: var(--color-carbonic);
  transition: color cubic-bezier(0.6, 0, 0.5, 1) 0.4s;
  transition: outline 100ms cubic-bezier(0.6, 0, 0.5, 1);
  text-transform: uppercase;
  box-sizing: border-box;
  z-index: 5;
}

.button:active {
  outline: 5px var(--color-carbonic) solid;
}

.button:hover {
  color: var(--color-snow-white);
}

.button::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  z-index: 10;
  transition: all cubic-bezier(0.6, 0, 0.5, 1) 0.4s;
}

.button:hover::after {
  filter: invert(100%);
}


.button::before {
  content: "";
  background-color: var(--color-carbonic);
  width: 0;
  height: 100%;
  position: absolute;
  transition: all cubic-bezier(0.6, 0, 0.5, 1) 0.4s;
  z-index: -1;
}

.button:hover::before {
  width: 100%;
}
