.button {
  all: unset;
  width: 115px;
  height: 32px;
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  text-transform: uppercase;
  font: var(--btn-title);
  cursor: pointer;
  box-sizing: border-box;
}


