.button {
  all: unset;
  text-transform: uppercase;
  font: var(--btn-title);
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  overflow:hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}


.button:hover {
  color: white;
}

.button:hover::before {
  width: 100%;
}

.button:active {
  transform: scale(1.2);
}
