.intro__title {
  margin: 58px 0 0 24px;
  font: var(--headline-4);
  width: 280px;
}

@media screen and (min-width: 413px) {

  .intro__title {
    width: 323px;
  }

}

@media screen and (min-width: 620px) {

  .intro__title {
    margin: 10px 0 0 0;
    width: 300px;
  }

}

@media screen and (min-width: 1440px) {

  .intro__title {
    font: var(--headline-1);
    width: 450px;
  }

}
