.intro__title {
  margin: 58px 0 0 24px;
  max-width: 280px;
  white-space: nowrap;
}

@media screen and (min-width: 413px) {

  .intro__title {
    max-width: 323px;
  }

}

@media screen and (min-width: 620px) {

  .intro__title {
    margin: 10px 0 0 0;
    max-width: 300px;
    white-space:normal;
  }

}

@media screen and (min-width: 1440px) {

  .intro__title {
    max-width: 450px;
  }

}
