.intro__title {
  margin: 54px 0 0 24px;
  max-width: 280px;
  white-space: nowrap;
}

@media screen and (max-width: 350px) {

  .intro__title {
    margin-left: 0;
  }

}

@media screen and (min-width: 413px) {

  .intro__title {
    max-width: 323px;
  }

}

@media screen and (min-width: 620px) {

  .intro__title {
    margin: 10px 0 0 0;
    max-width: 300px;
    white-space:normal;
  }

}

@media screen and (min-width: 1440px) {

  .intro__title {
    max-width: 450px;
  }

}
